/* index.css */

body {
    font-family: "Microsoft JhengHei", sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 2rem;
    color: #333;
}

h2, h3 {
    color: #2c3e50;
}

.data-table {
    margin-bottom: 3rem;
}

button {
    background-color: #3498db;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 400px;
    height: auto;
    max-height: 100vh;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    overflow-y: auto;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#add-button {
    width: 100%;
    margin-top: 1rem;
}

.navbar {
    background-color: #007bff;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.navbar button {
    background-color: white;
    color: #007bff;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.page-section {
    margin: 20px;
}

p {
    margin: 0.5rem 0;
}

#product-total {
    background-color: #fff;
    border: none;
    font-size: medium;
    width: auto;
}